<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" 
th:replace="~{fragments/layout :: layout (~{::body},'products')}">

  <body>

    <h2>Products</h2>

    <table id="products" class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;">Name</th>
        </tr>
        </thead>
        <tbody>
          <tr th:each="prod : ${products}">
              <td>
                  <a th:href="@{/products/__${prod.id}__}" th:text="${prod.name}"/></a>
              </td>
          </tr>
        </tbody>
    </table>


  </body>
</html>
