<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'sensors')}">

  <body>

    <h2>Sensors</h2>

<table id="sensors" class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;">ID</th>
                                   <th style="width: 150px;">Name</th>
                       
        </tr>
        </thead>
        <tbody>
          <tr th:each="s : ${sensors}">
              <td th:text="${s.id}"/>
                           <td th:text="${s.name}"/>
              
       </tr>
        </tbody>
    </table>

    
  </body>
</html>
